
.navbar-brand img {
	width: 78px;
}
.navbar-nav {
	margin-left: 45%;
}
.scroll{
  background: rgb(114, 109, 109) !important;
}

  .nav-item {
	margin-right: 25px;
}
.nav-link {
    color: #fff !important;
    font-size: 20px;
    width: ww;
    font-weight: 600;
  }
  

  .nav-link:hover {
      color: rgb(224, 22, 22) !important;
     
      
  }