*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    /* color */
   --light-color:#fff;
   --sec-light:#f6eedf;
   --tomato-color:#f64b3c;
   --font-color: #060520 ;
  
   /* font size */
   --font-lg:50px;
   --font-md:30px;
   --font-sm:17px;
  
   /* font Bold */
   --bold-lg:600;
   --bold-md:500;
   --bold-sm:300;
  
  /* opacity */
   --op-sm:.8;
   --op-md:.5;
  
  /* shadow */
  --shadow: 0px 6px 13px -7px #000000;
  --shadow-sm: 0px 2px 5px -4px #000000;
   
  }


  section{
      padding: 80px 0px;
  }
  p{
    font-size:20px;
    opacity: .8;
  }